<html lang="en">
    {% with include_files=include_files%}
        {% include 'head.html' %}
    {% endwith %}
<body>
    {% include 'nav.html'%}
    <div class="playground" style="margin-top: 20px;">
        <div><img src="./computerjpg.jpg" style="width:100px;height:100px"><h5>A</h5></div>
        <hr id='first-line' style="width:100%;height:15px;text-align:left;margin-left:0;background-color:black" onclick="action1()">
        <div><img src="./computerjpg.jpg" style="width:100px;height:100px"><h5>B</h5></div>
        <hr id='second-line' style="width:100%;height:15px;text-align:left;margin-left:0;background-color:black" onclick="action2()">
        <div><img src="./computerjpg.jpg" style="width:100px;height:100px"><h5>C</h5></div>
    </div>
    <div class="connections">
        <div id="tableA">
            <table>
                <tr>
                  <th>To</th>
                  <th>Cost</th>
                  <th>Via</th>
                </tr>
                <tr class="A toB">
                  <td>B</td>
                  <td>1</td>
                  <td>B</td>
                </tr>
                <tr class="A toC">
                  <td>C</td>
                  <td class="dist1">3</td>
                  <td>B</td>
                </tr>
              </table>
        </div>
        <div id="tableB">
            <table>
                <tr>
                  <th>To</th>
                  <th>Cost</th>
                  <th>Via</th>
                </tr>
                <tr class="B toA">
                  <td>A</td>
                  <td class="dist3">1</td>
                  <td>A</td>
                </tr>
                <tr class="B toC">
                  <td>C</td>
                  <td class="dist2">2</td>
                  <td>C</td>
                </tr>
              </table>
        </div>
        <div id="tableC">
            <table>
                <tr>
                  <th>To</th>
                  <th>Cost</th>
                  <th>Via</th>
                </tr>
                <tr class="C toA">
                  <td>A</td>
                  <td class="dist4">3</td>
                  <td>B</td>
                </tr>
                <tr class="C toB">
                  <td>B</td>
                  <td>2</td>
                  <td>B</td>
                </tr>
              </table>
        </div>
    </div>
    <div class="myModal">
      <h1></h1>
    </div>
    <h3>Cost of first route is 1</h3>
    <h3>Cost of second route is 2</h3>
    <div class="solution">
      <h1>Solution to this Problem</h1>
    <div onclick="define_infinity()" style='padding: 10px;'>
      <label for='option-12' style=' padding: 5px; font-size: 1.5rem;'>
        <input type='radio' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
        Defining Infinity</label>
        <div class="input-bar">
          <input type="number" class="input" id="infinity">
        </div>
      <span id='result-12'></span>
    </div>
    <div onclick="split_horizon()" style='padding: 10px;'>
      <label for='option-12' style=' padding: 5px; font-size: 1.5rem;'>
        <input type='radio' style='transform: scale(1.6); margin-right: 10px; vertical-align: middle; margin-top: -2px;' />
        Split Horizon</label>
    </div>
    </div>
</body>
</html>