<html lang="en">
    {% with include_files=include_files%}
        {% include 'head.html' %}
    {% endwith %}
<body>
    {% include 'nav.html'%}
    <div class="box">
        <form id="form">
            <div class="system">
                <h1 class="s1">1<i class="fa-solid fa-desktop"></i></h1>
                <!-- <label for="station1">Choose Stations:</label> -->
                <select name="station1" class="input" id="station1">
                    <option value="s0">No Station</option>
                    <option value="s2" default>S2</option>
                    <option value="s3">S3</option>
                </select>
            </div>
            <br><br>
            <div class="system">
                <h1 class="s2">2<i class="fa-solid fa-desktop"></i></h1>
                <!-- <label for="station2">Choose Stations:</label> -->
                <select name="station2" class="input" id="station2">
                    <option value="s0">No Station</option>
                    <option value="s1" default>S1</option>
                    <option value="s3">S3</option>
                </select>
            </div>
            <br><br>
            <div class="system">
                <h1 class="s3">3<i class="fa-solid fa-desktop"></i></h1>
                <!-- <label for="station3">Choose Stations:</label> -->
                <select name="station3" class="input" id="station3">
                    <option value="s0">No Station</option>
                    <option value="s1">S1</option>
                    <option value="s2">S2</option>
                </select>
            </div>
            <br><br>
            <button type="button" id="button1" class="btn" onclick="myFunction()">Send data</button>
        </form>
        <hr class="carrier carrier-small" id="small-1">
        <hr class="carrier carrier-small" id="small-2">
        <hr class="carrier carrier-small" id="small-3">
        <hr class = "carrier" style="width:90%;text-align:left;margin-left:0;margin-top:10px;">
        <div class="c1">
            <canvas id="s1s2" style="width:400px;height:100px"></canvas>
            <canvas id="s2s3" style="width:400px;height:100px"></canvas>
            <canvas id="s3" style="width:400px;height:100px"></canvas>
        </div>
        <div class="c1 overlay">
            <canvas id="s1s3" style="width:1000px;height:100px"></canvas>
        </div>
        <div class="c1 overlay">
            <canvas id="last1" style="width:500px;height:100px"></canvas>
            <canvas id="last2" style="width:500px;height:100px"></canvas>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
          <p></p>
          <h4></h4>
        </div>
    </div>
</body>
</html>