<html lang="en">
    {% with include_files=include_files%}
        {% include 'head.html' %}
    {% endwith %}
<body>
    {% include 'nav.html'%}
    <div id="root">
        <div class="App">
            <header class="App-header">
                <div class="transmission-Info">
                    Packet Transmission Info:<br>
                    Packet sent:&nbsp;<span id="packet-sent">0</span>
                </div>
                <div class="buttons">
                    <div class="input-bar">
                        <label>Transmission Rate</label>
                        <input class="input" value="5" id="transmission-input">    
                    </div>
                    <div class="input-bar">
                        <label>e2e delay</label>
                        <input class="input" value="10" id="e2e-delay">
                    </div>
                    <div class="input-bar">
                        <label>Time Out</label>
                        <input class="input" value="1500" id="Time out">
                    </div>
                    <div class="input-bar">
                        <label>window Size</label>
                        <input class="input" value="2" id="window-size">
                    </div>
                </div>
                <section class="simulation">
                    <div class="goback-N">
                        <div class="sender-wrapper">
                            <div class="sender" style="transform: translateX(0px);">
                                
                            </div>
                        </div>
                        <div class="reciever-wrapper">
                            <div class="reciever" style="transform: translateX(0px);">
                            </div>
                        </div>
                    </div>
                </section>
            </header>
        </div>
    </div>    
</body>
</html>
