<html lang="en">
    {% with include_files=include_files%}
        {% include 'head.html' %}
    {% endwith %}
<body>
    {% include 'nav.html'%}
    <div id="root">
        <div class="App">
            <header class="App-header">
                <div class="transmission-Info">
                    msg Transmission Info:<br>
                    sender:&nbsp;<span id="msg-info-sender">-</span>
                    reciever:&nbsp;<span id="msg-info-reciever">-</span>
                </div>
                <div class="buttons">
                    <div class="input-bar">
                        <label>Sender</label>
                        <select class="input" id="input-sender">
                            <option value=" " selected>-</option>
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                        </select>
                    </div>
                    <div class="input-bar">
                        <label>Reciever</label>
                        <select class="input" id="input-reciever" disabled>
                            
                        </select>
                    </div>
                    <div class="input-bar">
                        <label>Collision Scenario</label>
                        <button class="input" id="start-collision">Start Transmiss..</button>
                    </div>
                    <div class="input-bar">
                        <label>Non Collision sce..</label>
                        <button class="input" id="start">Start Transmiss..</button>
                    </div>
                </div>
                <section class="simulation" style="height: auto;">
                    <div class="hidden-node">
                        <div class="node" id="A" aria-label="node-A">A
                            <div class="coverage"></div>
                        </div>
                        <div class="node" id="B" aria-label="node-B">B
                            <div class="coverage"></div>
                        </div>
                        <div class="node" id="C" aria-label="node-C">C
                            <div class="coverage"></div>
                        </div>
                    </div>
                </section>
            </header>
        </div>
    </div>
</body>
</html>